.button {
  background-color: #68A6D5;
  border: none;
  border-radius: 4px;
  color: #1E442A;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #2D588A;
  }
  &:active {
    background-color: #FAD02E;
  }
  }

  
  

  

  